# Pygbag build output
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Distribution / packaging
dist/
*.egg-info/

# IDE / Editor specific
.vscode/
.idea/
note/
*.md